body{
    background-image: url(images/FundoLivros.jpg);
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
    border: 3px solid yellow;

    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

header{
    font-size: 40px;
    color: rgb(62, 62, 146);
    text-align: center;
}

.colecao{
    display: flex;
    justify-content: space-evenly; /* distribui na horizontal */
    align-items: center;     /* centraliza na vertical */
    height: 100vh;  /* ocupa a tela máxima */

    width: 90%;
    max-width: 1400px;

    border: 3px solid yellow;
    padding: 50px;

    /*overflow-x: scroll;*/
    flex-flow: row wrap;
    gap: 50px; /*o aconselhado quando usado flex-box*/
}

/*---------------------------------------------------------*/

.livro{
    width: fit-content;
    border: 3px solid;
    background-color: rgba(0, 0, 0, 0.5);
}

.livro__imagem img{
    width: 400px;
    height: 500px;
}

.livro__imagem a:hover img{
    width: 450px;
    height: 550px;
}

.livro__titulo{
    color: white;
    font-size: 25px;
    text-align: center;
    text-transform: uppercase;
}

/*---------------------------------------------------------*/

.navegacao-div{
    position: fixed;
    left: 50px;
    bottom: 50px;
}

.nav{
    border: 3px solid yellow;
    width: fit-content;
}

.nav__opcoes{
    text-decoration: none;
    color: brown;
}

.nav__opcoes ul{
    height: 70px;
    margin-top: 0;
    list-style-type: none;
    background-color: rgba(255, 255, 255, 0.8); 
}

.nav__opcoes li{
    font-size: 32px;
}

.nav__imagem img{
    width: 100px;
    height: 100px;
    opacity: 0.6;
}
